<strong> Dear {{ deliveryPerson }}</strong>
<p> There is a new package waiting for you :D </p>
<p> The package id for collection is {{packageId}} and the recipient information are: </p>
<p>
	<strong>Name: </strong> {{ recipientName }} <br />
	<strong>Street: </strong> {{ recipientStreet }} <br />
	<strong>Number: </strong> {{ recipientNumber }} <br />
	<strong>Complement: </strong> {{ recipientComplement }} <br />
	<strong>City: </strong> {{ recipientCity }} <br />
	<strong>State: </strong> {{ recipientState }} <br />
	<strong>Postcode: </strong> {{ recipientPostcode }} <br />
	<br />
</p>
